@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(82, 3, 82), rgb(160, 14, 160));
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(2px 2px at 25% 15%, white, transparent),
    radial-gradient(2px 2px at 25% 15%, white, transparent),
    radial-gradient(1px 1px at 40% 30%, white, transparent),
    radial-gradient(1.5px 1.5px at 60% 10%, white, transparent),
    radial-gradient(2px 2px at 75% 50%, white, transparent),
    radial-gradient(2px 2px at 20% 80%, white, transparent),
    radial-gradient(1px 1px at 90% 25%, white, transparent),
    radial-gradient(1px 1px at 25% 81%, white, transparent);
}

.form {
  width: 400px;
  /*rgb são as cores, e o "a" é a opacidade*/
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);

  /*efeito de textura*/
  backdrop-filter: blur(10px);

  /*sombra copiada*/
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  color: white;
  padding: 35px;
  border-radius: 16px;
}

.form h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.form-box {
  position: relative;
  margin-bottom: 30px;
}

.form-box input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;

  /*retira a linha azul quando o objeto é selecionado*/
  outline: none;

  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;

  /*define o espaçamento primero cima e baixo, e depois lados*/
  padding: 0 20px;
}

.form-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-box i {
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: 25;
}

.remenber-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 16px;
}

.remenber-box label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remenber-box label input {
  accent-color: #77008f;
}

.remenber-box a {
  /*tirar a linha embaixo do link*/
  text-decoration: none;
  color: white;
}

/*hover é quando o mouse passa emcima*/
.remenber-box a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 10px;
  outline: none;

  /*quando o mouse passar emcima, muda o cursor para a mão*/
  cursor: pointer;

  color: #77008f;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}

button:hover {
  color: plum;
  background-color: rgba(000, 000, 000, 0.7);
  /*desloca levemente para cima*/
  transform: translate(-5px);
}

.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.register-link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}
